canvas {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #111;
}

#note-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('birthday-card.avif') no-repeat center center;
    background-size: cover;
    width: 740px;
    height: 740px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#note {
    padding-top: 110px;
    padding-left: 115px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.9;
}

#media-container {
    display: none;
    justify-content: space-between;
    margin-top: 50px;
}

#photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    margin-left: 45px;
    margin-top: -40px;
}
 #videos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 45px;
    margin-top: -40px;
}
#photos img, #videos video {
    width: 150px;
    height: 200px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
